/* RESETER */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body              { line-height: 1; }
ol, ul            { list-style: none; }
blockquote, q     { quotes: none; }
blockquote:before,
blockquote:after,
q:before, q:after { content: ''; content: none; }
table             { border-collapse: collapse; border-spacing: 0; }

html              { box-sizing: border-box; }
*,
*:before,
*:after           { box-sizing: inherit; }


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


$headerHeight: 80px;
$colwidth: 200px;
$darkblue : #0A3B4C;
$lightblue: #D5E3E4;
$darkyellow : #EEA731;
$grey: #D5E3E4;

$bookcolor: #DC6D72;
$articlecolor: #318E8F;
$authorcolor: #58E0D1;
$contributioncolor: #EC8CD8;
$primarysourcecolor: #DDDDDD;
$referencecolor: #A95FBE;
      
      

.bar {
  fill: $grey;
}


a.button { cursor:pointer; background: $darkyellow; color: $darkblue; height: 40px; width: 200px; display: inline-block; line-height: 40px; text-align:center; border-radius: 4px; font-size: 18px;
  &:hover { color: $darkblue;font-weight: normal; }
}

html, body { overflow:hidden; }
body {

  margin:0;
  padding:0;
  font-family : Arial;
  font-size:14px;
  color: $darkblue;
  
  
  &.venetica {
	.searchform { display:none; }
  }
}


#searchmenu {
  .searchbar {
    background: $darkblue;
    height:$headerHeight;
    display: flex;

    .about {        line-height : 80px; color: $darkyellow; position: absolute; right: 70px; font-weight: bold; text-decoration:none; }
    .loginname {    line-height : 80px; color: $darkyellow; position: absolute; right: 290px; font-weight: bold;text-decoration:none; }
    .statistics {   line-height : 80px; color: $darkyellow; position: absolute; right: 165px; font-weight: bold;text-decoration:none; }
    .venetica {     line-height : 80px; color: $darkyellow; position: absolute; right: 290px; font-weight: bold;text-decoration:none; }

    .title { padding:14px; width: 200px; color: $lightblue; font-size: 18px; line-height:20px; display: inline-block; 
      img {height: 48px; }
    
    }
    .searchform {
      .headfield {
        display: inline-block;
        position:relative;

        input {width: 500px; height: 40px; border-radius: 4px;border:2px solid $lightblue; padding-left: 50px; font-size:16px; margin-right:20px; margin-top:20px; }
         i.fa {
           cursor:pointer;
            font-family: FontAwesome;
            left:20px;
            position:absolute;
            top:30px;
         }
      }

      ul.filters { color: $lightblue; display: inline-block; font-size:14px;}

    }
  }


}



        li.chk { display: inline; cursor:pointer; margin-right:20px;
              &:before {
                content: "";
                display:inline-block;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                vertical-align:middle;
                background-image: url("chbx.png");
                background-repeat: no-repeat;
                background-size: 32px;
                background-position: center right;

              }

              &.checked {
                &:before { background-position: center left; }
              }
        }

.mainsearch {
  padding-top: 200px;
  margin:auto;
  width: 40%;

  &.adv_open {
    .searchfield {
      .fa-caret-right {display:none;}
      .fa-caret-down {display:block;}

    }
    .advancedsearch { display:block; }
    .suggestlist { display:none; }
    ul.filters { display:none; }
  }

  .searchfield {
     position:relative;
     input {width: 100%; height: 60px; border-radius: 4px;border:2px solid $lightblue; padding-left: 50px; font-size:18px; margin-right:20px; margin-top:20px; outline: none;}

     &:before {
        content: "\f002";
        font-family: FontAwesome;
        left:10px;
        position:absolute;
        top:30px;
     }
     .fa-caret-down { display: none; }
     .fa-caret-right { display: block; }
     .fa {
        color: $darkyellow;
        font-family: FontAwesome;
        right:20px;
        font-size:24px;
        position:absolute;
        top:35px;
        cursor:pointer;
     }


  }

        ul.filters { line-height: 80px;color: black; display: inline-block; font-size:14px; width: 100%; text-align:center; }

  .suggestlist {
    
    z-index: 2000;
    background: white;
    border: 1px solid #D5E3E4;
    border-top: none;
    list-style-type: none;
    position: absolute;
    width: 40%;   
 
    a {
       padding: 8px 20px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       cursor: pointer;
       color: $darkblue;
        text-decoration:none;
        display:block;
       &:hover { background: #efefef;}
    
       &:before { content:""; width: 10px; height: 10px; border-radius: 10px; margin-right: 10px;  display: inline-block; }
       
       &.author:before {background: $authorcolor;}
       &.asve:before {background: $primarysourcecolor;}
       &.book:before {background: $bookcolor;}
       &.article:before {background: $articlecolor;}

    
    }
  }

  .sample {margin-top:20px;
	strong { font-weight: bold; }
	ul { padding-left:100px; list-style-type:disc; }
  }

  .advancedsearch {
    display: none;
    background: #F9F9F9;
    position:relative;
    color: $darkblue;
    width: 94%;
    padding:30px;
    margin:auto;
    li { margin-bottom:3px; }

    strong { font-weight: bold; }
    input { width: 250px; padding:4px;
      &.small { width: 100px; }
    }
    span { display: inline-block; width: 250px;}
    .chkboxanywhere {
      font-size:14px;
      cursor:pointer;
      margin-bottom:10px;
      &:before { margin-right:10px;  font-family: FontAwesome; font-size:16px;}
      font-family: "Arial";
    }

    .closebutton { position: absolute; right: 10px; top:5px; color: black;font-size:40px; text-decoration:none; }
    .searchbutton { background: $darkyellow; color: $darkblue; font-size:1.3em;padding:15px 40px;  display:inline-block;}

      ul.advfilters { line-height: 80px; margin-top:100px; color: black; display: inline-block; font-size:14px; width: 100%;


      }

  }

}


#screenwrapper {
  position: fixed;
  padding: 200px;
  text-align:center;
  z-index: 10000;
  display:none;
  background: rgba(0,0,0,.85);
  top:0;left:0;right:0;bottom:0;
  color: white;
  font-size: 18px;
  font-weight: bold;
 /* @media all and (max-width: 1430px)  { display: block; } */
}



.sideinfo {
  background: $darkblue;
  width: 200px;
  position: absolute;
  left:0;
  top: $headerHeight;
  bottom:0;
  color: $grey;
  padding:20px;
  li.sub {
    margin-bottom:20px;
    cursor:pointer;
    line-height: 2em;
    i { color: $darkyellow; }
    ul {display: none; }
    &.open ul { display:block; }
    li.chk { display:block; font-size:0.8em; margin-right:0;}

    .nm { display: inline-block; width: 90px; vertical-align:middle;overflow: hidden; white-space:nowrap; text-overflow:ellipsis; }
    .cn { display: inline-block; width: 40px; text-align:right; vertical-align:middle;overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
  }

    .sub:before {
       content: "\f0da";
       font-family: FontAwesome;
       color: $darkyellow;
       margin-right: 10px;
       display: inline-block;
       width: 10px;
    }

    .sub.open:before {
       content: "\f0d7";
    }

  .barchart { width: 160px; height: 75px; }

  .yearfilter {
    margin-bottom: 60px;
    .yearslider {
      font-size: 0.7em; margin-top:40px; margin-bottom:20px;
      .noUi-connect { background: $darkyellow; }
      .noUi-value { margin-top: 13px; }


    }
    ul { margin-top:5px;  }
    &.disabled .yearslider {
      opacity: 0.3;
       .noUi-connect { background: #888; }
     }
   }


    .allfilters { color: $darkyellow; cursor:pointer; font-size:0.8em;}
}


.statzone {
  position:absolute;
  top: $headerHeight;
  bottom: 0;
  right:0;
  left: 0;
  overflow:hidden;
  padding:40px;

  h4 { color: #ECA730; margin-bottom: 30px; font-size: 1.2em; font-weight:bold; }
  h5 { color: #0A3B4C; font-size: 1.2em; font-weight: bold; }

  ul { margin-top:10px; margin-bottom: 20px; color:#0A3B4C;}
  li { line-height: 1.5em; }

  .col1 { width: 300px; float:left; }

}


.resultzone {
  position:absolute;
  top: $headerHeight;
  bottom: 0;
  right:0;
  left: 200px;
  overflow:hidden;

  .resultheaders {
    height:$headerHeight;
    line-height: $headerHeight - 10px;
    padding-top:10px;
    li.cat { display:block; cursor:pointer; opacity: 0.5; position: relative; float:left; width: 160px; text-align:center; border-bottom: 1px solid black;
      span { font-weight: bold; border-radius: 35px;  line-height:35px; background: #999; margin-right:10px; display: inline-block; width: 35px; height: 35px;}
      &.special { border-left: 1px solid black; }
      &.active { opacity: 1; font-weight: bold; }
      &:before {
        content: "";
        height: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: -10px;
        left: 0;
        background: red;
      }
      &.special {
        &:before {
         /*width: 90%;
          left: 5%;*/
        }
      }

      &.authors         { &:before, span { background : $authorcolor;}   }
      &.monographies    { &:before, span { background : $bookcolor;}   }
      &.articles        { &:before, span { background : $articlecolor;}   }
      &.contributions   { &:before, span { background : $contributioncolor;}   }
      &.primary_sources  { &:before, span { background : $primarysourcecolor;}   }
      &.references      { &:before, span { background : $referencecolor;}   }



    }
    li.pagin {
      color: $darkyellow;
      font-weight:bold;
      font-size:1.2em;
      position: relative; float:left;
      width: 160px;
      text-align:center;
      line-height:2.2em;

      .fa-chevron-left,.fa-chevron-right { cursor:pointer;   }

      .fa-chevron-left { margin-right: 10px; }
      .fa-chevron-right { margin-left: 10px; }

    }
  }
    .results { padding:20px;
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    top: $headerHeight;
    overflow-y:scroll;

      .result {
        cursor:pointer;
        padding: 20px 20px;
        margin-bottom: 3px;
        min-height: 126px;
        &:hover{ background: #f9f9f9; }
        p.title { font-weight: bold; margin-bottom:10px;}
        p.subtitle {}
        p.title, p.subtitle { white-space: nowrap; text-overflow: ellipsis; /*overflow: hidden;*/}


        .graph { border-right: 1px solid black; padding-right:20px; margin-right: 20px; margin-top:10px;vertical-align:top; display:inline-block;}
        ul { display:inline-block; margin-top:7px;
          li { font-size: 12px; line-height: 16px; }
        }

        &.authors         { border-left: 8px solid  $authorcolor;}
        &.monographies    { border-left: 8px solid  $bookcolor;}
        &.articles        { border-left: 8px solid  $articlecolor;}
        &.contributions   { border-left: 8px solid  $contributioncolor;}
        &.primary_sources  { border-left: 8px solid $primarysourcecolor;}
        &.references      { border-left: 8px solid  $referencecolor;}
        
        


        .fa.fa-link { color: $darkyellow; }
        .shortdetails {font-size:0.8em;}
      }

      .hasMore {
        padding: 30px;
        background: #efefef;
        text-align:center;
        font-weight: bold;
        margin-top:20px;
        cursor: pointer;
        border-radius: 10px;

      }
    }

}

.detailszone {
  display:none;
  position: absolute;
  z-index:6000;
  background:white;
  color: #0a3b4c;
  bottom:0;
  padding-bottom:60px;
  left:0;
  right:0;
  top:$headerHeight;
  overflow: auto;
  .close { cursor:pointer; position: aboslute; right: 20px; top:20px; position: absolute; color: #555;}
  .europeanaBtn { cursor:pointer; position: absolute; right: 50px; top: 50px; width:60px;}

  ul.citationsButtons {
    margin-bottom:30px;
    li { width: 190px; cursor:pointer; border: 2px solid #aaa; text-align:center; display: inline-block; margin-left: 24px; padding: 10px; color: #aaa; font-weight: bold;

      &.active, &:hover { border-color: $darkyellow; color: inherit; }
      
    }


  }

  ul.detailsheaders {
	min-height: 100px;
   >li { display: inline-block; width: 200px; padding: 15px; text-align:center; font-size: 1.3em; vertical-align:top;
        border-top:8px solid white;
        
    

        &.rcat { cursor:pointer;}

     small { font-size:0.7em; }
        &:first-child { white-space:nowrap; line-height: 1.5em;font-weight:bold; text-align:left; 
          a { color: #DC6D72; text-decoration:none; font-size:0.7em; display:inline-block; margin-left:20px; font-weight:normal;}
          span { font-size: 0.8em; }

          &.authors         { border-top: 8px solid  $authorcolor;}
          &.monographies    { border-top: 8px solid  $bookcolor;}
          &.articles        { border-top: 8px solid  $articlecolor;}
          &.contributions   { border-top: 8px solid  $contributioncolor;}
          &.primary_sources  { border-top: 8px solid $primarysourcecolor;}
          &.references      { border-top: 8px solid  $referencecolor;}

        }


    &.active { border-top: 8px solid #0A3B4C; color: #0A3B4C; font-weight: bold;}
   }

  }

  table {
    width:100%;

    font-size:0.9em;
    th.h2 { font-size:1.5em; font-weight:normal; }
    th.h2:before { content:""; width:0; height:37px;margin-top:-8px;  border-left: 8px solid #0a3b4c; position: absolute; left:0;}


    th.h2.authors:before         { border-left-color : $authorcolor;}
    th.h2.monographies:before    { border-left-color : $bookcolor;}
    th.h2.articles:before        { border-left-color : $articlecolor;}
    th.h2.contributions :before  { border-left-color : $contributioncolor;}
    th.h2.primary_sources:before  { border-left-color : $primarysourcecolor;}
    th.h2.references:before      { border-left-color : $referencecolor;}




    td:first-child { width: 600px; max-width:600px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
    margin: auto;
    width: calc(100% - 46px);
    tr { }
    td,th {  text-align:left; vertical-align:middle; padding:8px;}
    th { font-weight: bold; }
    i { color: $darkyellow; cursor:pointer;}
    tbody { border-top: 30px solid white; }
    tbody.lines { border-top: none; }
    tbody.lines tr:nth-child(odd) {background: #efefef; }
    tbody.lines tr.highlight { background: #a5cddc;}

    tbody.lines.books tr:nth-child(1n+11):not(.donthide),
    tbody.lines.articles tr:nth-child(1n+11):not(.donthide),
    tbody.lines.references tr:nth-child(1n+11):not(.donthide) {
	display: none;
    }
    tr.donthide td { text-align:center; background: #105e79; cursor:pointer;  color: white; padding: 12px; }


    tbody.nestedps tr.highlight { background: #a5cddc;}
    .showall { display:none; }    
  }
}

.detailslines table.references td:first-child { width: 200px; }
.detailslines table.references td:nth-child(2) { width: 600px; max-width:600px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }

.smalldetailszone {
  
  box-shadow: 0px 7px 0px 7px rgba(10,59,76,0.3); 
   
  position: absolute;
  z-index:5000;
  background:#F9F9F9;
  color: #0a3b4c;
  bottom:0;
  padding:6px;
  width:400px;
  right:0;
  margin-right:-400px;
  top:$headerHeight;
  overflow: auto;

  .top { font-size:0; }
  .top div {width:49%; margin:0; display: inline-block; padding: 15px 0; vertical-align:middle; }

  .title { font-size: 18px; font-weight: bold; overflow:hidden; text-overflow: ellipsis; white-space:nowrap;}
  .buttons { font-size:12px; position:relative;
  * {  margin-left:20px; margin-right: 20px; }
    a { text-decoration:none; color:#DC6D72; }
     text-align:center;
    .fa-arrows-alt, .fa-times { cursor:pointer;  color: #555; }
    .fa-times { position: absolute; margin-top:-0.5px;}
    .fa-arrows-alt {}

  }
  .profile { font-size:12px;
          &.authors         { border-top: 5px solid  $authorcolor;}
          &.monographies    { border-top: 5px solid  $bookcolor;}
          &.articles        { border-top: 5px solid  $articlecolor;}
          &.contributions   { border-top: 5px solid  $contributioncolor;}
          &.primary_sources  { border-top: 5px solid  $primarysourcecolor;}
          &.references      { border-top: 5px solid  $referencecolor;}



    text-align:center;
  }
  .citationslink { text-align:center;border-top: 1px solid #aaa;font-size:12px; color: $darkyellow; cursor:pointer}



  &>ul {
    padding: 25px;

    &>li {
      font-size:1em;
      line-height:1.7em;
      cursor:pointer;

      &>span:after {
        content: "\f0da";
        font-family: Fontawesome;
        color: $darkyellow;
        margin-left:20px;
      }

      &.open>span:after {
        content: "\f0d7";
      }
      &.open>ul { display:block; }
      &>ul { display:none;     font-size:0.8em; margin-bottom:20px;

        &>li {
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
      }

   }


  }


}

.refpanel {
   width: 45%;
   position: fixed;
   right: 0;
   top: $headerHeight;
   bottom:0;
   background: rgba(10, 59, 76, 0.9);
   color: white;
   padding: 20px;
   display:none;
   font-size: 1.1em;
   line-height: 1.3em;
   p { margin-bottom: 20px; }
   .fa-times { color: $darkyellow; position:absolute; right: 20px; top:20px;}

   .fa-link { color: $darkyellow; }

   overflow-y:scroll;

        &::-webkit-scrollbar-track {
          background-color: transparent;

        }

        &::-webkit-scrollbar {
          width: 24px;
        }

        &::-webkit-scrollbar-thumb {
          border: 8px solid rgba(10, 59, 76, 0.9);
          background-color: #EAF1F1;
        }
}

.chart,.smallchart {

  &.small { height:100px;  }
  rect {
    cursor:pointer;
  }

  &.citing {
    rect.citing_h { fill: #0A3B4C; }
    rect.cited_h { fill: #aaa; }
  }

  &.cited {
    rect.citing_h { fill: #aaa;  }
    rect.cited_h { fill: #0A3B4C; }
  }

  &.references { display: none; }
  height: 200px;
  background:white;
  margin: 25px;
  width: calc(100% - 50px);

svg {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.axis {

  text {
    font-size: 10px;
  }
}

&.cited, &.citing {
  .x.axis.b {line,path {display:none; }}


}

&.publications {
  .axis { path,line { display: none; } }

}

.dot {
  cursor: pointer;

  &.authors         { fill:  $authorcolor;}
  &.books           { fill:  $bookcolor;}
  &.articles        { fill:  $articlecolor;}
  &.contributions   { fill:  $contributioncolor;}
  &.primary_sources  { fill:  $primarysourcecolor;}
  &.references      { fill:  $referencecolor;}
}



}

.d3-tip {
  font: 12px sans-serif;
  padding: 12px;
  background: #f0f0f0;
  border:1px solid #dedede;
  color: #0A3B4C;
  width: 180px;
  border-radius: 5px;
  z-index: 6000;
  &.cit { width: auto; }
  div {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    line-height: 1.5;
  }
}

.searchreference, .searchinreference {
     position:relative; margin-left:30px;
     input {width: 300px; height: 40px; border-radius: 4px;border:2px solid $lightblue; padding-left: 50px; font-size:14px; color:#aaa;  outline: none;}

     &:before {
        content: "\f002";
        font-family: FontAwesome;
        left:10px;
        position:absolute;
        top:13px;
        color: #0A3B4C;
     }
}

.searchinreference {
  width:300px;
  margin-bottom: 20px;
  margin-left:0;
 &:before {
     top:10px;
   }
}


.nestedps {
  .h2 span {  font-size: 0.7em; 
  
    i.fa-caret-right { /*margin-left: 20px; */ cursor:auto;}
  i.fa-caret-right { color: $darkblue;}
  
  }
  .h2 span.up { color:$darkyellow; cursor:pointer;
    
  }
  display:none;
i.fa-caret-right { margin-left:10px; margin-right:10px;}
  tr.openable { cursor:pointer; }

 tr:nth-child(odd) {background: #efefef; }
 tr:nth-child(1), tr:nth-child(2) { background: white; }

 .label { display:inline-block; font-weight:bold; border-radius:4px; background:$darkyellow; color:#0A3B4C; font-size:0.8em; padding:3px; margin-right:5px;margin-top:-4px;}

}
.nestedps[data-level="root"] { display:table-row-group; }



.fa.fa-question-circle { font-size: 1.5em; color:: $darkyellow; position: absolute; right: 25px; line-height:80px; cursor:pointer;}
#helpwrapper {
  position: fixed;
  z-index: 10000;
  display:none;
  background: rgba(0,0,0,0.7);
  top:0;left:0;right:0;bottom:0;
  color: white;
  font-family: Handlee;
  font-weight: bold;
  .fa.fa-question-circle { color:: white; position: absolute; right: 25px;  cursor:pointer;}
  p:before { display:none;
    content:"";
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute; 
  }

  p { display: none; position: absolute;}
  
  p.nohelp { display: block; top:100px; left:100px; font-size:24px;}

  &[data-step="search"] { p.search { display: block; } p.nohelp { display: none; } }
  &[data-step="search_ref"]{ p.search_ref { display: block; } p.nohelp { display: none; } }
  &[data-step="author_details_citations"]{ p.author_details_citations { display: block; } p.nohelp { display: none; } }
  &[data-step="author_details_publications"]{ p.author_details_publications { display: block; } p.nohelp { display: none; } }
  &[data-step="author_small_details"]{ p.author_small_details { display: block; } p.nohelp { display: none; } }
  &[data-step="references_panel"]{ p.references_panel { display: block; } p.nohelp { display: none; } }


  p.search.c1 { left: 10px; top: 350px;  }
  p.search.c2 { left: 400px; top: 35px;  }
  p.search.c3 { right:50px; top: 10px;  }
  p.search.c4 { left: 300px; top: 93px;  }
  p.search.c5 { left: 420px; top: 391px;  }
  p.search.c6 { left: 420px; top: 410px;  }
  p.search.c7 { left: 1150px; top: 85px;  }
  p.search.c8 { left: 850px; top: 145px;  }
  p.search.c9 { left: 250px; top: 175px;  }
  
  p.search_ref.c1 { left: 240px; top: 180px;  }
  p.search_ref.c2 { left: 320px; top: 250px;  }
  
  p.author_details_citations.c1 { left: 10px; top: 464px;  }
  p.author_details_citations.c2 { left: 264px; top: 464px;  }
  p.author_details_citations.c3 { left: 210px; top: 768px;  }
  p.author_details_citations.c4 { left: 710px; top: 541px;  }
  p.author_details_citations.c5 { left: 400px; top: 261px;  }


  p.author_details_publications.c1 { left: 30px; top: 130px;  }
  p.author_details_publications.c2 { left: 255px; top: 130px;  }
  p.author_details_publications.c3 { left:612px; top: 150px;  }
  p.author_details_publications.c4 { left: 830px; top: 85px;  }
  p.author_details_publications.c5 { right: 20px; top: 131px;  }
  p.author_details_publications.c6 { left: 620px; top: 450px;  }

  p.references_panel.c1 { right: 310px; top: 470px;  }
  p.references_panel.c2 { right: 560px; top: 115px;  }

  p.author_small_details.c1 { right: 20px; top: 120px;  }
  p.author_small_details.c2 { right: 100px; top: 85px;  }
  p.author_small_details.c4 { right: 20px; top: 175px;  }
  p.author_small_details.c5 { right: 54px; top: 230px;  }
  p.author_small_details.c6 { right: 80px; top: 335px;  }

}

.globalSpinner { display:none; position: fixed; font-size: 10em!important; top: 50%; left: 50%; margin-left:-1em; color:#dedede; z-index:999999;} 
 



.europeanazone {
  
  box-shadow: 0px 7px 0px 7px rgba(10,59,76,0.3); 
   
  position: absolute;
  z-index:6000;
  background:#f4f4f4;
  color: #0a3b4c;
  bottom:0;
  width:400px;
  right:0;
  margin-right:-400px;
  top:$headerHeight;
  overflow: auto;
  
  .logo {width: 150px; margin: 20px; margin-bottom: 100px;}
  .fa.fa-times { cursor:pointer; position: absolute; top: 20px; right: 20px; font-size: 1.3em; }
  .europeanaResults {
    .count { font-size: 1.3em; border-left: 5px solid #0a3b4c; padding-left:5px;color:#0a3b4c; font-weight: bold;line-height: 1.3em; }
	a {text-decoration:none; color: #0a3b4c; }
	li { border-top: 1px solid #ccc; cursor:pointer; padding: 10px; position: relative; min-height: 160px; 
		&:hover { background: rgba(	236, 167, 48,0.25);}
		p.infos { padding-left: 140px; font-weight: bold; min-height: 50px; font-size : 1.1em;
			i {position: absolute; right: 8px; }
			.year {display:inline-block; width: 60px; }
		}
		p.title { padding-left: 140px; font-weight: bold; font-size: 1.1em; min-height: 100px; padding-bottom: 1em; }
		p.provider { padding-left: 140px;	position:relative;font-size:0.9em;
			&:before {content:"Provider:"; position: absolute; margin-left: -100px; }

		}
	
		img.thumb { position: absolute; left: 0; top: 0; width: 120px; height: 140px; }
		
		&.loadMore { 
			text-align:center; line-height: 7em;
		}
	}
  
  
  
  }
  .spinner { display:none;  }
  &.loading {
	.spinner { display:inline-block; } 
	.europeanaResults { display: none; }
  }
  
}


body.statistics {
		.globalSpinner { display: none; }
}

body.about {
		.globalSpinner { display: none; }
	    height: 100vh;
		min-height: 100vh;
		#content { padding:40px; 		line-height:1.5em; padding-right: 40%; height: calc(100vh - 80px); overflow-y:auto;
		&::-webkit-scrollbar-track { background-color: transparent;	}
		&::-webkit-scrollbar { width: 6px; }
		&::-webkit-scrollbar-thumb { border-left: 2px solid white; background-color: $darkblue; }
		
		}
		h1 { font-size:2em; font-weight: bold; margin-bottom:1em;}
		strong { font-size: 1.5em; font-weight: bold; line-height:2.5em; }
		a { color: $darkyellow; text-decoration:none;}
		
		
}


body.venetica {
	    height: 100vh;
		min-height: 100vh;
		.globalSpinner { display: none; }
		#content { height: calc(100vh - 80px); }

	.lazyMore { text-align:center; line-height: 2.5em; color: purple; text-transform:uppercase;font-weight: bold; cursor:pointer;
		i {display: none; }
		&.loading { i {display:inline-block; } span { display: none; }}
	
	}
	.filters {
		
	
		background: #f9f9f9;
		padding: 15px 60px 0 60px;
		flex: 100px;
		flex-shrink:0;
		flex-grow:0;
		display: flex;
		div.head {
			flex: 160px; flex-grow:0; flex-shrink:0; font-size: 1.2em;
		}
		div.tags { 
		
			div {
				display:inline-block; padding-right: 15px; margin-right: 15px; border-bottom: 6px solid transparent; margin-bottom: 1.6em;  cursor:pointer;
				span {  border-bottom: 6px solid transparent;}
				b {display:none; color:$darkblue; position: absolute; font-weight: normal; font-size: 1.2em; margin-left: 5px; margin-top:-1px; }
				&:hover {  b { display:inline-block;} 
							span { border-bottom: 6px solid #eee; }
						}
				&.active { span{ border-bottom: 6px solid #eca730; font-weight: bold; }}
			} 
		}
	}

	.search {
		padding: 15px 60px;
		
		flex: 80px;
		flex-shrink:0;
		flex-grow:0;
		
		.filterZone {
			margin-right: 10px;
			display:inline-block;
			width: 240px;
			position: relative;
			.title {
			cursor:pointer;
				border: 2px solid #ccc;
				border-radius: 3px;
				display:inline-block;
				line-height: 45px;
				width: 100%;
				padding: 0 10px;
				position: relative;
				font-size: 1.2em;
				font-style: italic;
				color: #aaa;
				i { color: $darkyellow; font-size:2em; top:7px;position: absolute; right: 20px;} 
				
			}
			.dropdown { 
				display: none;
				position: absolute;
				height: 30em;
				z-index: 2000;
				overflow: hidden;
				border: 1px solid #ccc;
				width: 100%;
				padding: 5px;
				margin-top:-1px;
				background: white;
				.fa-search { position: absolute; left: 10px; margin-top: 5px;}
				input { width: 100%; padding: 5px; padding-left: 25px; border:1px solid #ccc; border-radius: 4px; font-size: 0.9em; color: #aaa;}
				ul.rsList {
				
					margin-right: 25px;
					margin-top: 10px;
					height: 90%;
					overflow-y: auto;
					&::-webkit-scrollbar-track {
					  background-color: transparent;
					}

					&::-webkit-scrollbar {
					  width: 6px;
					}

					&::-webkit-scrollbar-thumb {
					  border-left: 2px solid white;
					  background-color: #eee;
					}
		
					div.group { border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 10px;	 }
					li.header { font-size: 1.8em; cursor:default!important;}
					li {  line-height: 1.5em; }
					li:hover {cursor: pointer;}
					
					
					
					
				}
				
				ul.letters {
					position: absolute;
					right: 10px;
					top: 40px;
					width: 10px; 
					font-size: 0.8em;
					line-height: 1.2em;
					font-weight: bold;
					color: #ccc;
					li {  }
					li.active { color: $darkblue; cursor:pointer; }
				}
			}
			&.open {
				.dropdown {display:block;}
			}
			
		}
		.sorts {
			display: inline-block;
			.sortkey {
				display: inline-block;
				font-weight: bold;
				color: $darkblue;
				position: relative;
				margin-right: 20px;
				i {color: $darkyellow; margin-left: 10px; }
			}
			.view { color: $darkyellow; margin: 0 20px; font-weight:bold; cursor: pointer;}
		}
		.disclaimer { display: inline-block; 
		
    width: 40%;
    font-size: 0.9em;
    position: absolute;
    text-align: right;
    right: 20px;
    line-height: 1.4em;
	
	color:#aaa;
	
	a {color: $darkyellow;text-decoration:none;}
	}
	}

	.cardView { 

		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		
		.sorts .card.view {display: none; }
		.sorts .list.view {display: inline-block; }

		.resultsHeaders{ display: none; }
		
		table.rs {
		
				
				tr {
					display :inline-block;
					width: 200px;
					height: 160px;
					border: 1px solid #ccc;
					margin-right: 20px;
					margin-bottom: 20px;
					position: relative;
					overflow: hidden;
					cursor: pointer;
					&.active { border-bottom: 8px solid #eca730; }
					td.thumb { position: absolute; top:0;bottom:0;left:0;right:0; 
						text-align:center; background: white;
						img { height: 100%; }
					}
					td.lang {display: none; }
					td.title span.listTitle {display: none; }
					
					&:hover {
						td.year, td.title, td.provider, td.licence { position: absolute; right: 20px ; left: 20px; font-weight: bold; z-index: 801;} 
						td.year { top: 20px; }
						td.title { top: 50px; height: 2em; overflow: hidden}
						td.provider { top: 90px; height: 2em; overflow: hidden}
						td.licence { bottom: 6px; right: 10px; left: auto; }
						&:before {content:""; position: absolute; background: rgba(244,244,244,0.85); top:0;bottom:0;left:0;right:0;z-index:800;}
					}
				}
		
		
		}
		
	}
	.listView { 
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		
		.sorts .list.view {display: none; }
		.sorts .card.view {display: inline-block; }

		table.rs{
		font-size: 0.9em;
			width: 100%;

			th {font-weight: bold; 
			  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
				i {color: $darkyellow; margin-left: 5px; }
			}
			th.title,th.provider { text-align:left;}
		
			.thumb { width: 4%; border-left: 5px solid transparent;}
			.title { width: 39%; }
			.provider { width: 39%; }
			.year { width: 6%;  text-align:center;}
			.lang { width: 6%;  text-align:center;}
			.licence { width: 6%; text-align:center;}
			
			td.title span.cardTitle {display: none; }
			
			img { width: 20px; }
			td {vertical-align: top;padding: 6px;}
			th { vertical-align: top;padding: 6px;}
			tbody {
				tr { cursor:pointer; }
				tr:nth-child(even) {background: #f9f9f9; 
					&.active { background: rgba(236,167,48, 0.1);  }
				}
				tr.active {
					td.thumb { border-left: 5px solid #eca730;  }
					
				}
			}
			
		}
		
	}
	.resultsHeaders {
		padding: 5px 60px;
		overflow-y: scroll;
		&::-webkit-scrollbar-track { background-color: transparent;	}
		&::-webkit-scrollbar { width: 6px; }
		&::-webkit-scrollbar-thumb { border-left: 2px solid transparent; background-color: transparent; }		
	}
	.results { 
		flex:2;
		overflow-y: scroll ;
		padding: 20px 60px;
		
		&::-webkit-scrollbar-track { background-color: transparent;	}
		&::-webkit-scrollbar { width: 6px; }
		&::-webkit-scrollbar-thumb { border-left: 2px solid white; background-color: $darkblue; }
		
		p { text-align: center; font-size: 2.5em; line-height: 1.3em; color: #ccc; padding-top: 4em; display: none; }
		

	}

}